.idea
SatSolverProject/project/build.properties
project
target
.DS_Store

SatSolverProject/src/main/main.iml
SatSolverProject/src/test/test.iml
scala-smtlib/src/it/it.iml
scala-smtlib/src/main/main1.iml
scala-smtlib/src/test/test1.iml

